{% extends "base.html" %}

{% block content %}

{% for manufacturer in all_manufacturers %}

  <div class="container">
       <div class="info-container">
          <p>Manufacturer: {{manufacturer.name}}</p>
          <p>Description: {{manufacturer.description}}</p>
          <p>Foudation Year: {{manufacturer.year_founded}}</p>
               
          <div class="buttons">
            <form class="edit-form" action="/manufacturers/{{ manufacturer.id }}/edit" method="GET">
                <button type="submit" class="edit-button">Edit Manufacturer</button>
              </form>
            <form class="delete-form" action="/manufacturers/{{ manufacturer.id }}/delete" method="POST">
                <button type="submit" class="delete-button">Delete Manufacturer</button>
            </form>
          </div>
       </div>
    </div>

{% endfor %}

{% endblock %}