{% extends "base.html" %}

{% block content %}

{% for weapon in all_weapons %}

  <div class="container">
    <div class="info-container">
         Manufacturer: {{weapon.manufacturer.name}}
         <form class="edit-form" action="/manufacturers/{{ weapon.manufacturer.id }}/edit" method="GET">
          <button type="submit" class="edit-button">Edit Manufacturer</button>
               </form>

        <p>Name: {{weapon.name}}</p>
        <form class="edit-form" action="/weapons/{{ weapon.id }}/edit_only_weapon" method="GET">
          <button type="submit" class="edit-button">Edit Weapon</button>
        </form>

        <p>Description: {{weapon.description}}</p>
        <p>Weight: {{weapon.weight}}kg</p>
        <p>Material: {{weapon.material}}</p>
        <p>Buy Cost: £{{weapon.cost_to_buy}}</p>
        <p>Sell Cost: £{{weapon.cost_to_sell}}</p>
        <p>Quantity: {{weapon.quantity}}</p>



        <form class="delete-form" action="/weapons/{{ weapon.id }}/delete" method="POST">
            <button type="submit" class="delete-button">Delete</button>
        </form>


        


      </div>

  </div>

{% endfor %}

<div class="container">
  <div class="low-stock">
    <p>Manufacturer: Vulkan</p>

    <form class="edit-form">
      <button type="submit" class="edit-button">Edit Manufacturer</button>
           </form>


    <p>Name: Dawnbringer</p>

    <form class="edit-form">
      <button type="submit" class="edit-button">Edit Weapon</button>
    </form>

    <p>Description: The biggest of hammers</p>
    <p>Weight: 500kg</p>
    <p>Material: Steel</p>
    <p>Buy Cost: £20000</p>
    <p>Sell Cost: £60000</p>
    <p>Quantity: 1 : LOW STOCK</p>

    <form class="delete-form">
      <button type="submit" class="delete-button">Delete</button>
  </form>
  </div>
</div>

<div class="container">
  <div class="low-stock">
    <p>Manufacturer: Sanguinius</p>

    <form class="edit-form">
      <button type="submit" class="edit-button">Edit Manufacturer</button>
           </form>


    <p>Name: Spear of Telesto</p>

    <form class="edit-form">
      <button type="submit" class="edit-button">Edit Weapon</button>
    </form>

    <p>Description: Poke your enemies from a distance</p>
    <p>Weight: 300kg</p>
    <p>Material: Steel</p>
    <p>Buy Cost: £10000</p>
    <p>Sell Cost: £30000</p>
    <p>Quantity: 0 : NO STOCK</p>

    <form class="delete-form">
      <button type="submit" class="delete-button">Delete</button>
  </form>
  </div>
</div>

{% endblock %}