{% extends "base.html" %}

{% block content %}

{% for weapon in all_weapons %}

  <div class="container">
    <div class="info-container">
         Manufacturer: {{weapon.manufacturer.name}}
         <form class="edit-form" action="/manufacturers/{{ weapon.manufacturer.id }}/edit" method="GET">
          <button type="submit" class="edit-button">Edit Manufacturer</button>
               </form>

        <p>Name: {{weapon.name}}</p>
        <form class="edit-form" action="/weapons/{{ weapon.id }}/edit_only_weapon" method="GET">
          <button type="submit" class="edit-button">Edit Weapon</button>
        </form>

        <p>Description: {{weapon.description}}</p>
        <p>Weight: {{weapon.weight}}kg</p>
        <p>Material: {{weapon.material}}</p>
        <p>Buy Cost: £{{weapon.cost_to_buy}}</p>
        <p>Sell Cost: £{{weapon.cost_to_sell}}</p>
        <p>Quantity: {{weapon.quantity}}</p>



        <form class="delete-form" action="/weapons/{{ weapon.id }}/delete" method="POST">
            <button type="submit" class="delete-button">Delete</button>
        </form>


      </div>

  </div>

{% endfor %}

{% endblock %}