<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

  <title>Armed and Dangerous</title>

</head>
<body>
  <header>
    <h1>ARMED AND DANGEROUS</h1>
    <nav>
      <ul class="navigation">
        <li><a  class="nav-link" href="/">HOME</a></li>
        <li><a  class="nav-link" href="/weapons">INVENTORY</a></li>
        <li><a  class="nav-link" href="/manufacturers">MANUFACTURERS</a></li>
        <li><a  class="nav-link" href="/new_manufacturer">NEW MANUFACTURER</a></li>
        <li><a  class="nav-link" href="/weapons/new">NEW WEAPON</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="container">
    {% block content %}


    {% endblock %}
  </div>
</body>
</html>