{% extends "base.html" %}

{% block content %}

<form action="/manufacturers" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="Name" value="" required>
    </div>

    <div>
        <label for="description">Description:</label>
        <input type="text" name="description" id="description" placeholder="Description" value="" required>
    </div>

    <div>
        <label for="year_founded">Year Founded:</label>
        <input type="text" name="year_founded" id="year_founded" placeholder="Year Founded" value="" required>
    </div>

    <button type="submit">Add Manufacturer</button>
</form>





{% endblock %}